body {
    margin: 0;
    background-color: #303030;
}

/*-----------------  DIV --------------*/
.window {
    height: 160px;
    width: 500px;
    background-color: #ff8c00;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #fff;
}

#result {
/*    display: none;*/
    height: 60px;
    width: 300px;
    background-color: #ff8c00;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.5em;
}

/*----------------- INPUT ---------------*/
input {
    width: 200px;
    height: 30px;
    margin: 0 10px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/*---------------- BUTTON --------------*/
button {
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #303030;
    outline: none;
    margin: 20px;
    margin-top: 30px;
    padding: 10px 10px;
    width: 150px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background:#fff;
    color: #faa700;
    transition: .2s linear;
}
